<nav class="navbar navbar-expand-lg  border-bottom border-body">
    <div class="container-fluid">
        <!-- Logo o nombre de la página -->
        <a class="navbar-brand" href="/login"><img class="logo" src="/assets/img/principales/logo_chugo.jpg" alt="" style="height: 40px; margin-right: 10px;">
           <span style="color: #fff;"> La Parilla De Chugo</span></a>

        <!-- Botón para menú en dispositivos pequeños (hamburguesa) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Contenido del menú -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- Enlace a la página de inicio -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>

                <!-- Enlace a la Carta Gourmet (dropdown) -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Carta Gourmet
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/platos">Platos</a></li>
                        <li><a class="dropdown-item" href="/bebidas">Bebidas</a></li>
                        <li><a class="dropdown-item" href="/promociones">Promociones</a></li>
                    </ul>
                </li>

                <!-- Enlace a la sección "Sobre Nosotros" -->
                <li class="nav-item">
                    <a class="nav-link" href="/about">Sobre Nosotros</a>
                </li>

                <!-- Enlace a la sección "Promociones" -->
                <li class="nav-item">
                    <a class="nav-link" href="/promociones">Promociones</a>
                </li>

                <!-- Enlace a la sección "Combos" -->
                <li class="nav-item">
                    <a class="nav-link" href="/combos">Combos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>